<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Disco</title>
  <link rel="stylesheet" href="/css/addDisc.css">
</head>
<body>
  <div class="app-container">
    <header class="navbar">
      <div class="navbar-title">
        <a href="/"><img src="/image/LogoTipo.png" alt="Logo" class="logo"></a>
      </div>
      <ul class="nav-links">
        <li><a href="/">Início</a></li>
        <li><a href="/discs" class="active">Discos</a></li>
        <li><a href="/artists">Artistas</a></li>
        <li><a href="/genres">Gêneros</a></li>
      </ul>
    </header>

    <main class="main-content">
      <h1 class="page-title">Cadastrar Novo Disco</h1>

      <form action="/discs/add" method="POST" class="form-cadastro">

        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>

        <label for="ano">Ano de Lançamento:</label>
        <input type="number" id="ano" name="ano" required>

        <label for="genero">Gênero Musical:</label>
        <select id="genero" name="genero" required>
          <% generos.forEach(genero => { %>
            <option value="<%= genero.nome %>"><%= genero.nome %></option>
          <% }) %>
        </select>

        <label for="capa">URL da Capa:</label>
        <input type="url" id="capa" name="capa" required>

        <div class="faixas-list-container">
            <strong>Faixas adicionadas:</strong>
            <ul id="faixas-list">
            </ul>
          </div>

        <label for="faixas-input">Adicionar Faixa:</label>
        <div class="faixa-input-container">
          <input type="text" id="faixas-input" placeholder="Digite o nome da faixa">
          <button type="button" id="add-faixa-btn" class="btn-secondary">Adicionar Faixa</button>
        </div>
        <input type="hidden" id="faixas" name="faixas" required> 

        <button type="submit" class="btn-primary">Cadastrar</button>
      </form>

      <div class="link-voltar">
        <a href="/discs" class="btn-secondary">Voltar para a lista de discos</a>
      </div>
    </main>
  </div>

  <script src="/js/addDisc.js"></script>
</body>
</html>
