<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/image/LogoTipo.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Página Inicial</title>

</head>
<body>
    <section>
        <div class="circle"></div>
        <header>
            <a href="/"><img src="/image/LogoTipo.png" alt="Logo" class="logo"></a>
            <nav class="navegation">
                <ul>
                    <li><a href="/discs">Discos</a></li>
                    <li><a href="/artists">Artistas</a></li>
                    <li><a href="/genres">Gêneros</a></li>
                </ul>
            </nav>
        </header>
        <div class="content">
            <div class="text">
                <h2> Os melhores <br><span>Discos</span></h2>
                <p>Descubra o melhor lugar para registrar discos e explorar o universo dos seus artistas favoritos! Nossa plataforma oferece uma experiência única para organizar sua coleção musical e mergulhar nas histórias dos músicos que você ama. Cadastre, explore e viva a música como nunca!</p>
                <a href="/discs">Ver Lista de Discos</a>
            </div>
        </div>

        <div class="boxImg">
            <img src="/image/Album01.png" alt="Álbum 1" class="img1">
            <img src="/image/Album02.png" alt="Álbum 2" class="img2">
            <img src="/image/Album03.png" alt="Álbum 3" class="img3">
        </div>
    </section>
</body>
</html>
